/* 	•	Schriftarten laden
	•	Icon-Fonts laden
	•	Farb- und Größenregeln für Icons definieren
	•	Allgemeine typografische Styles bündeln */

    :root{
        --red-color: rgb(179, 36, 0);
        --blue-color: rgb(0, 80, 98);
        --white-color: rgb(255, 255, 255);
    }

 