#header_top{
    background-color: var(--blue-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 50px;
}

#header_top_logo_1{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#header_top_content_1{
    display: flex;
    align-items: center;
}

header h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white-color);
}

header p{
    font-size: 20px;
    margin-left: 5px;
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}